minimum_pre_commit_version: "1.15"
default_stages: [commit, push]

repos:
#: -----------------------------------------------------------------------------
#: Meta hooks
#: -----------------------------------------------------------------------------
  #: Meta hooks provided by pre-commit
  - repo: meta
    hooks:
      - id: identity
        stages: [manual]
      - id: check-hooks-apply
        stages: [manual]
      - id: check-useless-excludes
        stages: [manual]


#: -----------------------------------------------------------------------------
#: Commit hooks
#: -----------------------------------------------------------------------------
  #: code unspecific out-of-the-box hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: no-commit-to-branch
        args: [
          --branch, staging,
#          --branch, master,
          --pattern, release/.*,
        ]
      - id: check-case-conflict
      - id: name-tests-test
        args: ["--django"]
      - id: check-json
      - id: pretty-format-json
        args: ["--indent=4", "--autofix"]
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
        stages: [commit, push]
      - id: end-of-file-fixer
        stages: [commit, push]

  #: several python code regex hooks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: python-no-log-warn
      - id: python-no-eval

  #: pyupgrade - upgrade old python syntax to new
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  #: seed-isort-config - fill isort's known_third_party config
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        args: [--application-directories, "src:."]

  #: isort - sort imports
  #: Inline skip: `# isort: skip`
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort
        args: [--apply, --recursive]
        additional_dependencies: [toml]  #: def like extra

  #: blacken-docs - black for python code in docs
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.7.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]

  #: black - python formatter
  #: Inline skip: mark block with `# fmt: off` and `# fmt: on` (same indent)
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--safe]

  #: bandit - python code security analyzer
  #: Inline skip: `# nosec`
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        require_serial: true
        exclude: tests/.*$

  #: flake8 - python linter
  #: File skip: `# flake8: noqa`
  #: Inline skip: `# noqa` or `# noqa: CODE,...`
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        args: [--min-python-version=3.6.1]
        additional_dependencies:
          #: Colored output - needs custom format
          - "flake8-colors"
          #: Finding likely bugs and design problems
          #: B001-B014 | B301-B306 | B901-B903,B950
          - "flake8-bugbear==20.1.4"
          #: Write better list/set/dict comprehensions
          #: C400-C416
          - "flake8-comprehensions==3.2.2"
          #: Check docstrings with PEP257
          #: D100-D107 | D200-D215 | D300-D302 | D400-D417
          - "flake8-docstrings==1.5.0"
          #: Find dead/out-commented code
          #: E800
          - "flake8-eradicate==0.3.0"
          #: Validate (lack of) logging format strings
          #: G001-G004, G010 | G100 | G200-G202
          - "flake8-logging-format==0.6.0"
          #: Find line breaks with '\'
          #: N400
          - "flake8-broken-line==0.2.0"
          #: Check your code against PEP 8 naming conventions
          #: N801-N807, N811-N817
          - "pep8-naming==0.10.0"
          #: Find mutable default assignments in func/class definitions
          #: M511
          - "flake8-mutable==1.2.0"
          #: Check common style issues or inconsistencies with pytest-based tests
          #: PT001-PT019
          - "flake8-pytest-style==1.1.1"
          #: Check if typing imports are properly guarded
          #: TYP001 - TYP006
          - "flake8-typing-imports==1.9.0"
          #: Find strings with leading 'u'
          #: UPS
          - "flake8-no-u-prefixed-strings==0.2"
          #: Make more readable variables names
          #: VNE001-VNE003
          - "flake8-variables-names==0.0.3"
          #: Checks for misuse of sys.version or sys.version_info (Py 3.10 / 4.0 coming)
          #: YTT101-YTT103 | YTT201-YTT204 | YTT301-YTT303
          - "flake8-2020==1.6.0"

# TODO: 06.06.2020: Fix PR merge https://github.com/python-poetry/poetry/issues/2457
  #: poetry - dependency and packaging management
  - repo: https://github.com/Cielquan/poetry
    rev: 4c3338d18d319fb7edea02d653d2c65622d84ff2
    hooks:
      #: Check config file
      - id: poetry-check
      #: Update lock file
      - id: poetry-lock


  #: Hooks managed via tox `pre-commit` venv
  - repo: local
    hooks:
      #: pylint - python linter
      #: File skip: `# pylint: skip-file`
      #: Inline change: `# pylint: disable|enable=CODE|NAME`
      - id: pylint
        name: pylint
        description: run pylint over the installed version if available
        entry: ./.tox_env_exe_runner pylint pre-commit,dev
        language: system
        types: [python]
      #: mypy - python type checker
      #: Skip file: `# type: ignore` at top
      #: Inline skip: `# type: ignore` or `# type: ignore[CODE, ...]`
      - id: mypy
        args: ["--config-file=tox.ini"]
        name: mypy
        description: run mypy over the installed version if available
        entry: ./.tox_env_exe_runner mypy pre-commit,dev
        language: system
        types: [python]
        require_serial: true
