repos:
#: out-of-the-box hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: no-commit-to-branch
        args: [--branch, staging, --branch, master, --pattern, release/.*]
    -   id: check-case-conflict
    -   id: name-tests-test
        args: ["--django"]
    -   id: check-toml
    -   id: check-yaml
    -   id: detect-private-key
    -   id: debug-statements
    -   id: fix-encoding-pragma
    -   id: check-docstring-first
    -   id: trailing-whitespace
    -   id: end-of-file-fixer

#: Several regex hooks
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.4
    hooks:
    -   id: python-no-log-warn
    -   id: python-no-eval
#    -   id: python-use-type-annotations
    -   id: rst-backticks

#: Format setup.cfg
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.6.0
    hooks:
    -   id: setup-cfg-fmt

#: Upgrade old python syntax to new
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

#: Fill isort's known_third_party config
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
        args: [--application-directories, "src:."]

#: Sort imports
-   repo: https://github.com/timothycrosley/isort
    rev: v4.3.20
    hooks:
    -   id: isort

#: Black for python code in docs
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.3b0]

#: Black
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --line-length, "88", --exclude, venv/]

#: flake8
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        additional_dependencies: ["flake8-typing-imports==1.5.0", "flake8-bugbear==19.3.0"]

#: pylint
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]

#: Meta hooks
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
