#include README.rst LICENSE.rst CHANGELOG.rst MANIFEST.in
#include setup.py setup.cfg tox.ini
#graft src
#graft docs
#graft tests
#
#global-exclude __pycache__
#global-exclude *.py[cod]
#global-exclude *.key
#global-exclude *.crt
#global-exclude *.pem
#global-exclude .htpasswd


## setuptools-scm by default adds all SCM tracked files, we prune the following maintenance related ones (sdist only)
#exclude .gitignore
#
#exclude azure-pipelines.yml
#exclude readthedocs.yml
#exclude MANIFEST.in
